.accountInfo {
    display: flex;
    flex-direction: column;
}

.lineTop {
    border: 2px solid #F59E0B;
    margin-bottom: 2%;
    width: 25%;
}

.infoRow {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.categoryName {
    margin-right: 5px;
    font-size: 18px;
}

.categoryValue {
    font-size: 18px;
}

.optionButton {
  margin-top: 5px;
  margin-right: 10px;
  padding: 5px;
  background-color: #F59E0B; /* Mi贸d */
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.optionButton:hover {
  background-color: #D97706; /* Ciemniejszy mi贸d */
}

.lineBottom {
    border: 2px solid #EF4444;
    margin-top: 2%;
    width: 25%;
}

.categoryNameRed {
    margin-right: 5px;
    color: #EF4444;
}

.optionButtonRed {
  margin-left: 5px;
  padding: 5px;
  background-color: #EF4444; /* Mi贸d */
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.optionButtonRed:hover {
  background-color: #b63434; /* Ciemniejszy mi贸d */
}